@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700');

/* global */

body {
 font-size: 16px;
 font-family: 'Oxygen', sans-serif;
 padding-top: 56px;
 z-index: 0;
}

.borderBottom {
  border-bottom: 0px;
}


/* navbar */
.navbar-inverse {
  background-color: #512da8;
}
nav.navbar .container {margin:0 15px;}


.navbar-brand {
  height: 40px;
  vertical-align: middle;
  /*display: block;*/
  text-align: left;
  margin:0 auto;
}

/* header */

.row-header {
 margin:0px auto;
 
}

.jumbotron {
 padding: 100vh 5vw 0 5vw;
 border-top-left-radius: 0;
 border-top-right-radius: 0;
 margin:0 auto;
 background: #9575cd;
 color: floralwhite;
}

.headerline {
  position: relative;
  width:100%;
}

.headerline h1 {
  position: absolute;
  top: -90vh;
  left: 0;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 3px;
  
  letter-spacing: 1px;
  text-align: center;
}

.headerline p {
  position: absolute;
  top: -60vh;
  left: 0;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 3px;
  
  letter-spacing: 1px;
  text-align: center;
}

.divideX img {
  width:100%;
  max-width: 150px;
  margin:0 auto;
  display: block;
  margin-top: 3em;
}

/* mainbody */

.row-content {
  margin:0 auto;
  /*padding: 27px 0 27px 0;*/
  padding: 27px 0 0px 0;
  /*border-bottom: 1px ridge;*/
  min-height: 60px;
}

#upizza {
  padding-top: 80px;
}


/* footer */

.footer {
  background-color: #36323e;
  margin:3em auto 0 auto;
  padding: 30px 0px 20px 0px;
}

.btn-outline-primary {
  background-color: gainsboro;
  border-color: #ffffff;
}



/* footer titles */

footer h5 {
 margin:0 auto;
 width:89.66%;
 margin-bottom: 1em;
 text-align: left;
 font-weight: normal;
 color: #fdfdfd;
}

/* footer links */

footer ul {
  margin-bottom: 2em;
}

li.lisfoo {
  text-align: left;
  display: grid;
  width: 89.66%;
  margin:0 auto;
  margin-top: .3em;
  padding: 1px 0;
 
}

address {
 font-size: 88%;
 margin:0px;
 color:#fdfdfd;
 text-align: center;
}

address a {
  text-decoration: underline;
  color:#fdfdfd;
  cursor: pointer;
}

/* home top, about top */
/*#corporate span, #about span {
 width: 95%;
 display: inline-block;
 text-align: right;
}*/

.top {
  text-align: right;
  margin:3em 0 0 0;
}

.top::before {
  content: '^ ';
}

.top a {
  text-decoration: none;
  color: #292b2c;
  font-weight: bold;
  cursor: pointer;
}



/*#corporate span a, #about span a {
 text-decoration: none;
 color: #292b2c;
 font-weight: bold;
}*/

/* social footer */

.socialmedia {
 margin:2em 0 2em;
 text-align: center;
 width:99%;
}

.socialmedia a {
  margin: 0 .3em;
  color: #1565C0;
  padding: 3px 7px;
  background: aliceblue;
  margin-bottom: 15px;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  min-width: 83px;
}

/* copy row footer */
.copy {
 margin:0;
 font-size: 80%;
 color: #fdfdfd;
}


/* 
    about 
    ------
*/




h4 small {
 color: #9475cd;
}

h4 small::before {
 content: '- ';
 margin-left: 5px;
}


.person {
 margin-top:2em;
 background: aliceblue;
}

#history {
  padding-top: 90px;
}

.person h4 {
  font-size: 1.3rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid;
}

.corporate {
 margin-top: 2em;
}



@media screen and (max-width: 320px) {
  .socialmedia a {min-width: 75px; font-size: 90%;}
  
}


/* landscape */

@media screen and (max-width: 736px) and (min-width: 320px) and (orientation:landscape) {

    .divideX img {max-width: 96px; margin-top:2em;}

    .socialmedia {width:89%;}
    .socialmedia a {min-width: 83px;}


}















