@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700');

/* global */

body {
 font-size: 16px;
 font-family: 'Oxygen', sans-serif;
 padding-top: 67px;
 z-index: 0;
}

.borderBottom {
  border-bottom: 0px;
}

.introformat {
  margin-top: .5em;
  margin-bottom: 1.25em;
}

.paddingTop {padding-top: 0!important;}

/* breadcrumb */
.breadcrumb {background-color: transparent;}
.breadcrumb-item a {color:#292b2c;}
.breadcrumb-item.active a {color:#9475cd;}

/* navbar */
/* cover entire h1 iphone6plus */
.navbar {
  padding:1em 1.5em;
}
.navbar-inverse {
  background-color: #512da8;
}
nav.navbar .container {margin:0 15px;}

li.nav-item {
  margin-left: 7px;
}

a.nav-link .fa {
  width: 24px;
  text-align: center;
}


.navbar-brand {
  height: 40px;
  vertical-align: middle;
  /*display: block;*/
  text-align: left;
  margin:0 auto;
}

button.navbar-toggler {
  box-shadow: 0px 0px 0 1px #18152e;
  border-color: transparent;
  margin-right: 3em;
}


button.navbar-toggler:active, button.navbar-toggler:focus, button.navbar-toggler:hover {
  outline: none;
  border:1px solid;
  border-color: #321270;
  color:#502ea7;
  box-shadow: none;
}

/* header */

.row-header {
 margin:0px auto;
 
}

.jumbotron {
 padding: 100vh 5vw 0 5vw;
 border-top-left-radius: 0;
 border-top-right-radius: 0;
 margin:0 auto;
 background: #9575cd;
 color: floralwhite;
}

.headerline {
  position: relative;
  width:100%;
}

.headerline h1 {
  position: absolute;
  top: -90vh;
  left: 0;
  font-size: 2.5em;
  letter-spacing: 1px;
  text-align: center;
}

.headerline p {
  position: absolute;
  top: -70vh;
  left: 0;
  font-size: .95em;
  letter-spacing: 1px;
  text-align: center;
}

.headerlineArrowImg {
  width:100%;
  max-width: 65px;
  margin:0 auto;
  display: block;
  margin-top: 2em;
  -webkit-mix-blend-mode: hard-light;
  -moz-mix-blend-mode: hard-light;
  -o-mix-blend-mode: hard-light;
  -ms-mix-blend-mode: hard-light;
  mix-blend-mode: hard-light;
}

/* mainbody */

.row-content {
  margin:0 auto;
  padding: 27px 0 0px 0;
  min-height: 60px;
}

#upizza {
  padding-top: 80px;
}


/* footer */

.footer {
  background-color: #36323e;
  margin:3em auto 0 auto;
  padding: 30px 0px 20px 0px;
}

.btn-outline-primary {
  background-color: gainsboro;
  border-color: #ffffff;
}



/* footer titles */

footer h5 {
 margin-bottom: 1em;
 font-weight: normal;
 color: #fdfdfd;
}

/* footer links */

.lisfoo a.btn {
  padding:0;
  vertical-align: top; /*aligns with address */
 
}

address {
 font-size: 88%;
 color:#fdfdfd;
 font-weight: normal;
}

address a {
  text-decoration: underline;
  color:#fdfdfd;
  cursor: pointer;
}


.top {
  text-align: right;
  margin:2em 0 0 0;
}

.top::after {
  content: '^ ';
}

.top a {
  text-decoration: none;
  color: #292b2c;
  font-weight: bold;
  cursor: pointer;
}


/* social footer */

.socialmedia {
 margin:2em 0 2em;
 text-align: center;
 width:99%;
}

.socialmedia a {
  margin: 0 .3em;
  color: #1565C0;
  padding: 3px 7px;
  background: aliceblue;
  margin-bottom: 15px;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  min-width: 75px;
  font-size: 92%;
}

.btn-social-icon {
  margin-left:.35em;
  margin-bottom: .5em;
}

/* copy row footer */
.copy {
 margin:0;
 font-size: 60%;
 color: #919191;
 font-weight: bold;
 text-align: center;

}


/* 
    about 
    ------
*/




h4 small {
 color: #9475cd;
}

h4 small::before {
 content: '- ';
 margin-left: 5px;
}


.person {
 margin-top:2em;
 
}

#history {
  padding-top: 82px;
}

.person h4 {
  font-size: 1.3rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid;
}

.corporate {
 margin-top: 2em;
}


/* 
º
  Media queries 
  =============
º
*/


/* landscape layouts
=====================
*/

/* iphone 5 and up */
@media screen and (max-width: 568px) and (min-width: 320px) and (orientation:landscape) {
    /* header in jumbotron */
    .headerline h1 {font-size: 2.4em !important; top:-90vh !important;}
    .headerline p {font-size: .95em !important; top: -72vh !important;}

    img.headerlineArrowImg {max-width: 65px !important; margin-top: 1.5em !important;}
    /* footer */
    .socialmedia {width:89%;}
    .socialmedia a {min-width: 83px;}

}

/* iphone 6 and up */
@media screen and (max-width: 667px) and (min-width: 375px) and (orientation:landscape) {
    /* header in jumbotron */
    header .headerline h1 {font-size: 2.5em; width:100%;}
    
    img.headerlineArrowImg {max-width: 70px; margin-top: 2.2em;}

}

/* iphone 6 plus and up */
@media screen and (max-width: 736px) and (min-width: 414px) and (orientation:landscape) {
    /* header in jumbotron */
    .headerline h1 {font-size: 2.65em; top:-87vh; width:100%;}
    .headerline p {font-size: 1em;}
    
    .headerlineArrowImg {max-width: 75px;} /* portrait is 80px*/

}


/* portrait layout 
==================
*/


/* min-width 375 iphone6 */
@media screen and (min-width: 375px) and (orientation:portrait) {

  .headerline h1 {font-size: 2.75em;}
  .headerline p {font-size: 1em;}

  .headerlineArrowImg {
      margin-top: 2.25em;
      max-width: 70px;
  }

 /* p.copy {width: 91%;}*/

}/* iphone6*/


/* min-width 414 iphone6 plus */
@media screen and (min-width: 414px) and (orientation:portrait) {

  .headerline h1 {font-size: 2.75em;}
  .headerline p {font-size: 1.1em;}

  .headerlineArrowImg {
      margin-top: 2.75em;
      max-width: 80px;
  }

}/* iphone6*/



/* medium size devices, tablets and up */
@media screen and (min-width: 768px) and (orientation:portrait) {
  
  .navbar {
    border-bottom: 1px solid #502ea7;
  }

  .navbar-nav {
    margin-left: 20px;
  }

  .jumbotron {
      padding-top:25vh;
      border-radius: 0;
  }
  .headerline h1 {
      top:-20vh;
      width: 100%;
      font-weight: normal;
      
  }
  .headerline p {
      top:-13vh;
      font-size: 1.05em;
      font-weight: normal;
      margin:0;
      padding: 0 10px;
  }
  img.headerlineArrowImg {
      display: none;
  }

  /* upizza*/
  .introformat {margin:0;}

  #upizza {
    padding-top: 30px;
  }

  .corporate {margin-top: 0;}
  .person {margin-top: 1em;}


  /* set chef name inline*/
  .inlinetablet {display: inline-block;}
  h3.inlinetablet::after {content: ',';}
  h4.inlinetablet {margin-left: 10px; color:#502ea7;}

  .copy {font-size: 80%; text-align: left;}


}/* col-md and up */



/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .headerline h1 {
      font-size: 3em;
    
  }
  .headerline p {
      font-size: 1.5em;
     
  }

  /*.copy {
    width: 91%;
  }*/



}/* col-lg and up */



/*
Extra large devices (large desktops, 1200px and up)
*/
@media (min-width: 1200px) {

  /*.copy {width: 87.5%;}*/
}










